<h1>ヘルプ</h1>
<p>スーパーストーリーファイターIIターボは、</p>
<ul>
	<li>ランダム生成されるプロットをもとに</li>
	<li>テーマに沿ったストーリーを考え</li>
	<li>それを評価して勝敗を決める</li>
</ul>
<p>というゲームです。</p>

<p><%= link_to "練習問題", "random_plot/" %>では、プロットがランダム生成されます。自由なタイミングで遊べるので、どんどん投稿してみましょう。投稿されたストーリーは、<%= link_to "過去の投稿一覧", story_posts_path %>から見ることができます。おもしろいストーリーには「いいね！」をつけてください。</p>
<p>練習が終わったら期間の定まった<%= link_to "大会", conventions_path %>にもチャレンジしてみましょう。</p>

<hr>
<%= link_to "Back", root_path %>

