<h1>Super Story Fighter II</h1>
<p>ランダムに生成されるプロットをつなぐストーリーを考えてください。</p>
<p>まずは<%= link_to "練習問題", "random_plot/" %>にチャレンジ！</p>

<p><%= link_to "現在開催中の大会はこちら", "convention/" %></p>

<p><%= link_to "過去の投稿一覧", "story_posts/" %></p>

<p><%= link_to "ヘルプ", "static_pages/help/" %></p>

