<h1>Random Plot</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @plot_pieces.each do |plot_piece| %>
      <tr>
        <td><%= plot_piece.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
