<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @plot_piece.content %>
</p>

<%= link_to 'Edit', edit_plot_piece_path(@plot_piece) %> |
<%= link_to 'Back', plot_pieces_path %>
