<h1>過去の投稿一覧</h1>

<table>
	<thead>
		<tr>
			<th>タイトル</th><th>投稿者</th><th>いいね！</th>
		</tr>
	</thead>
	<tbody>
<% @story_posts.each do |story_post| %>
		<tr>
			<td><%= link_to story_post.title, story_post %></td>
			<td><%= story_post.name %></td>
			<td><%= story_post.like.to_i %></td>
		</tr>
<% end %>
	</tbody>
</table>
